#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.nav{
  background-color: black; 
  color: rgba(255, 208, 0);
  display: flex;
  justify-content: center;
  padding: 2%;
}
img{
  width: 100%;
}
.buttonPolos{
  width: 50%;
  border-radius: 10px;
  background-color: black;
  color: rgba(255, 208, 0);
  border: 1px solid white;
  margin-top: 2%;
  font-size: large;
}
.buttonPolos:hover{
  border-color: rgba(255,208,0);
}